{% extends "admin.twig.html" %}
{% block title %}Gestion des Utilisateurs{% endblock %}

{% block body %}
    <section>
        <h1>Gestion des <span class="white">Utilisateurs</span></h1>      
        {% if log == "creationFail" %}
            <p class="error">L'utilisateur n'a pas pu être créé.</p>
        {% elseif log == "creationOk" %}
            <p class="valid">L'utilisateur a bien été créé.</p>
        {% elseif log == "deleteFail" %}
            <p class="error">L'utilisateur n'a pas pu être supprimé.</p>
        {% elseif log == "deleteOk" %}
            <p class="valid">L'utilisateur a bien été supprimé.</p>
        {% endif %}
        <section>
            <h2>Liste des Utilisateurs</h2>
            <table id="userTable">
                <thead>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Actions</th>
                </thead>

                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.role }}</td>
                        <td>
                            {% if loggedId == user.id %}
                                <a href="/user/show/{{ user.id }}" class="button icon edit-icon">Modifier</a>
                            {% elseif (user.role != "superadmin" and role == "superadmin") or (role == "admin" and user.role == "simple") %}
                                <a href="/user/show/{{ user.id }}" class="button icon edit-icon">Modifier</a>
                                <a href="/user/delete/{{ user.id }}" class="button icon delete-icon" onclick="return confirm('Etes-vous sûr(e) de vouloir supprimer cet utilisateur ?');">Supprimer</a>                            
                            {% else %}
                                Pas d'action disponible
                            {% endif  %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <section>
            <p id="newUserFeedback" class="error"></p>
            <h2>Créer un nouvel Utilisateur</h2>
            <form method="POST" id="userForm" action="/user/createsingle">
                <label>Nom d'Utilisateur
                    <input type="text" id="username" name="username" required>
                </label>        
                <label>Email
                    <input type="text" id="email" name="email" required>
                </label> 
                <label>Role
                    <select name="role" id="role">
                        <option value="admin">Admin</option>
                        <option value="simple" selected>Simple</option>
                    </select>
                </label>
                <label>Mot de passe
                    <input type="password" id="password" name="password" required>
                </label>
                <label>Confirmer le mot de passe
                    <input type="password" id="confirmPassword" name="confirmPassword" required>
                </label>
                <input type="submit" id="userSubmit">
                <input type="hidden" name="token" id="token" value="{{ token }}">
            </form>
        </section>
    </section>
{% endblock %}