{% extends "base.twig.html" %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <section>
        {% if log is defined %}
            {% if log == 0 %}
                <p class="error">Les identifiants fournis sont incorrects.</p>
            {% elseif log == 1 %}
                <p class="error">Une erreur technique est survenue.</p>
            {% elseif log == 2 %}
                <p class="valid">Vous avez bien été déconnecté(e).</p>
            {% endif %}
        {% endif %}
        <h1>Connexion</h1>
        <form method="POST" action="/login">
            <label for="username">Nom d'utilisateur
                <input type="text" name="username" id="username" required>
            </label>
            <label for="password">Mot de passe
                <input type="password" name="password" id="password" required>
            </label>
            <input type="submit" value="Se connecter">
            <input type="hidden" name="token0" id="token0" value="{{ token0 }}">
        </form>
    </section>

{% endblock %}