{% extends "base.twig.html" %}
{% block title %}Réception Fournisseur{% endblock %}

{% block body %}
    <section>
        <h1>Saisie d'une <span class="white">Réception Fournisseur</span></h1>
        <p class="error" id="feedbackIncomingForm"></p>
        <form method="post" id="incomingForm" action="/movement/incoming">
            <fieldset>
                <legend>Entête Réception</legend>
                <label>Fournisseur
                    <input type="text" name="provider" id="provider" value="{{ order.provider }}" required>
                </label>
                <label>Référence
                    <input type="text" name="reference" id="reference" value="{{ order.reference }}" required>
                </label>
                <label>Statut
                    <select name="status" id="status">
                        <option value="pending"{% if order.status == "pending" %}" selected"{% endif %}>En attente</option>
                        <option value="received"{% if order.status == "received" %}" selected"{% endif %}>Réceptionnée</option>
                    </select>
                </label>
            </fieldset>
            <fieldset>
                <legend>Produits</legend>
                <div class="orderRow">
                    <label>Code Article
                        <input type="text" name="article" required>
                        <ul class="dynamicList"></ul> <!-- UL pour suggestions -->
                    </label>
                    <label>Quantité<input type="number" name="quantity" required></label>
                    <label>Emplacement
                        <input type="text" name="location" required>
                        <ul class="dynamicList"></ul> <!-- UL pour suggestions -->
                    </label>
                    <span><a href="#" class="button icon delete-icon">Effacer</a></span>
                </div>
            </fieldset>
            <p><a href="#" class="button icon add-icon" id="addRowButton">Ajouter une ligne</a></p>
            <input type="hidden" name="token" id="token" value="{{ token }}">
            <input type="submit" value="Enregister">
        </form>
    </section>    
{% endblock %}

{% block js %}
    <script src="/js/incomingForm.js"></script>
{% endblock %}
