{% extends "base.twig.html" %}
{% block title %}Liste des Mouvements{% endblock %}

{% block body %}
    <section>
        <h1>Gestion des <span class="white">Mouvements</span></h1>
        {% if log == "tokenError" %}
            <p class="error">Un problème technique est survenu.</p>
        {% endif %}
        <h2>Saisir un mouvement</h2>
        <ul>
            <li>Saisir une <a href="/movement/incoming">Réception Fournisseur</a></li>
            <li>Saisir une sortie client</li>
            <li>Saisir un transfert d'emplacement</li>
            <li>Saisir un mouvement d'inventaire</li>
        </ul>
        <h2>Rechercher un mouvement</h2>
    </section>    
{% endblock %}