/* common */
* {
    font-family: 'Roboto', sans-serif;
}

.error {
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.2);
    border-left: 6px solid red;
    text-align: center;
    color: red;
}

.warning {
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.2);
    border-left: 6px solid orangered;
    text-align: center;
    color: orangered;
}

.valid {
    padding: 10px;
    background-color: rgba(0, 255, 0, 0.2);
    border-left: 6px solid green;
    text-align: center;
    color: green;
}

@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-display: auto;
    font-style: normal;
    src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2") format("woff2");
}

h1, h2 {
    padding: 5px 0;
    text-align: center;
    background-color: rgb(64, 64, 64);
    border-radius: 20px 5px 20px 5px;
    border-bottom: 4px solid rgb(112, 112, 112);
    box-shadow: -1px 2px 5px 1px rgba(0, 51, 102, 0.4);
}

h1 {
    color: #3399cc;
    font-size: 2em;
}

h2 {
    color: white;
    font-size: 1.5em;
}

h3 {
    padding: 4px;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    background-color: #dbe2e7;
    border-bottom: 2px solid black;
}
/* END common */

/* forms */
input, select {
    width: 70%;
    box-sizing: border-box;
    margin: 10px;
}

input[type=submit] {
    width: auto;
    padding: 5px;
}

form {
    text-align: center;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset {
    margin: 20px 0;
}

fieldset legend {
    padding: 0 10px;
    color: white;
    font-weight: bold;
}

label {
    padding: 5px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

label:nth-of-type(odd) {
    background-color: #dbe2e7;
}

label:nth-of-type(even) {
    background-color: #c7ced3;
}
/* END forms */

/* tables */
table {
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}
  
table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
}

th {
    background-color: #3399cc;
}

tr:nth-of-type(odd) {
    background-color: #dbe2e7;
}

tr:nth-of-type(even) {
    background-color: #c7ced3;
}
/* END tables */

/* icons */
.icon {
    position: relative;
    padding-left: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #003366;
}

.icon:hover {
    text-decoration: underline;
}

.icon::before {
    font-family: FontAwesome;
    font-size: 20px;
    color: #3399cc;
    position: absolute;
    left: 0px;
}

.article-icon::before {
    content: "\f1c0";
}

.stock-icon::before {
    content: "\f1b3";
}

.incoming-icon::before {
    content: "\f274";
}

.outgoing-icon::before {
    content: "\f0d1";
}

.admin-icon::before {
    content: "\f013";
}

.logout-icon::before {
    content: "\f08b";
}

.user-icon::before {
    content: "\f0c0";
}

.location-icon::before {
    content: "\f187";
}

.return-icon::before {
    content: "\f0e2";
}

.new-icon::before {
    content: "\f15c";
    color: white;
    left: 6px;
}

.edit-icon::before {
    content: "\f044";
    color: white;
    left: 6px;
}

.view-icon::before {
    content: "\f06e";
    color: white;
    left: 6px;
}

.delete-icon::before {
    content: "\f014";
    color: white;
    left: 6px;
}

.search-icon::before {
    content: "\f002";
    color: white;
    left: 6px;
}

.file-icon::before {
    content: "\f07b";
    color: white;
    left: 6px;
}

.save-icon::before {
    content: "\f0c7";
    color: white;
    left: 6px;
}

.add-icon::before {
    content: "\f067";
    color: white;
    left: 6px;
}
/* END icons */

/* buttons */
.button {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    background-color: #3399cc;
    border-bottom: 2px solid #006699;
    padding: 10px 10px 10px 30px;
    color: white;
}

.button:hover {
    background-color: #006699;
    border-bottom: 2px solid #003366;
    cursor: pointer;
}
/* END buttons */

body, html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white url(../images/industrial-hall-1630742_1280.jpg) no-repeat center center fixed;
    background-size: cover;
}

main {
    width: 75%;
    margin: 20px auto;
    padding: 20px;
    background-color: #92a5b3;
    box-shadow: -1px 2px 5px 1px rgba(0, 51, 102, 0.4);
    border-radius: 10px;
    box-sizing: border-box;
}

/* header */
header {
    height: auto;
    background-color: #92a5b3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.4); 
}

.blue {
    color: #006699;
}

.white {
    color: white;
}

header ul {
    padding: 0;
    text-align: center;
}

header li {
    display: inline-block;
    margin: 0 20px;
}

header nav {
    background-color: #dbe2e7;
    padding: 0 20px;
}

#site-title {
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: 2.0em;
    font-weight: bold;
}

#loggedUsername {
    text-decoration: underline;
    font-size: 0.9em;
    color: rgb(64, 64, 64);
    padding-left: 5px;
}

#loggedUsername::before {
    content: '[';
}

#loggedUsername::after {
    content: ']';
}
/* end Header*/

/* begin FOOTER */
footer {
    text-align: center;
    padding: 10px;
    background-color: #dbe2e7;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.4); 
    box-sizing: border-box;
}

footer p {
    margin: 0;
    padding: 0;
}
/* end FOOTER */

/* article */
.article-edit {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.article-edit li {
    display: inline-block;
    margin: 10px;
}
/* end article */

/* ORDER */
.orderRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    border-bottom: 1px solid rgb(64, 64, 64);
    padding: 10px;
}

.orderField {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.orderRow label {
    background-color: inherit;
    padding: 5px;
}

.orderField:nth-of-type(2), .orderField:nth-of-type(4) {
    flex: 1;
}

.orderField:nth-of-type(1), .orderField:nth-of-type(3) {
    flex: 2;
}

.orderRow:nth-of-type(odd) {
    background-color: #dbe2e7;
}

.orderRow:nth-of-type(even) {
    background-color: #c7ced3;
}

.orderField:nth-of-type(4) .button {
    margin: 10px;
}

.dynamicList {
    margin: auto;
    padding: 0;
}

.dynamicList li {
    list-style-type: none;
    padding: 5px;
}

.dynamicListItem:hover {
    background-color: rgb(64, 64, 64);
    color: white;
    cursor: pointer;
}

.stocksList {
    margin: 10px 0;
    border-left: 4px solid rgba(0, 51, 102, 0.4);
}
/* end ORDER */

/* RESPONSIVE */
@media all and (max-width: 1024px) {
    html, body, main {
        min-width: 400px;
    }

    main {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    header {
        width: 100%;
    }

    header ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10%;
    }

    header li {
        margin: 10px 0;
    }

    table {
        width: 100%;
    }

    td {
        border: 1px dashed grey;
        font-size: 1.5em;
    }

    tr {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
    }

    tfoot, thead {
        display: none;
    }

    /* Article ID */
    #articleTable td:nth-of-type(1):before {
        content: 'ID : ';
        font-weight: bold;
    }
    
    /* Article Code */
    #articleTable td:nth-of-type(2):before {
        content: 'Code : ';
        font-weight: bold;
    }    

    /* Article Action */
    #articleTable td:nth-of-type(3):before {
        content: 'Action : ';
        font-weight: bold;
    }    

    /* Stock ID */
    #stockTable td:nth-of-type(1):before {
        content: 'ID : ';
        font-weight: bold;
    }    

    /* Stock Code */
    #stockTable td:nth-of-type(2):before {
        content: 'Code : ';
        font-weight: bold;
    }    

    /* Stock Qty */
    #stockTable td:nth-of-type(3):before {
        content: 'Quantité : ';
        font-weight: bold;
    }    

    /* Stock Reserved */
    #stockTable td:nth-of-type(4):before {
        content: 'Réservée : ';
        font-weight: bold;
    }   

    /* Stock Location */
    #stockTable td:nth-of-type(5):before {
        content: 'Emplacement : ';
        font-weight: bold;
    }    

    /* Incoming ID */
    #incomingTable td:nth-of-type(1):before {
        content: 'ID : ';
        font-weight: bold;
    }    

    /* Incoming Reference */
    #incomingTable td:nth-of-type(2):before {
        content: 'Référence : ';
        font-weight: bold;
    }    

    /* Incoming Date */
    #incomingTable td:nth-of-type(3):before {
        content: 'Date : ';
        font-weight: bold;
    }    

    /* Incoming Status */
    #incomingTable td:nth-of-type(4):before {
        content: 'Statut : ';
        font-weight: bold;
    }   

    /* Incoming Action */
    #incomingTable td:nth-of-type(5):before {
        content: 'Action : ';
        font-weight: bold;
    }   

    /* userTable ID */
    #userTable td:nth-of-type(1):before {
        content: 'ID : ';
        font-weight: bold;
    }    

    /* userTable Username */
    #userTable td:nth-of-type(2):before {
        content: "Nom d'utilisateur : ";
        font-weight: bold;
    }    

    /* userTable Role */
    #userTable td:nth-of-type(3):before {
        content: 'Role : ';
        font-weight: bold;
    }    

    /* userTable Action */
    #userTable td:nth-of-type(4):before {
        content: 'Action : ';
        font-weight: bold;
    }   

    /* locationTable ID */
    #locationTable td:nth-of-type(1):before {
        content: 'ID : ';
        font-weight: bold;
    }    

    /* locationTable Area */
    #locationTable td:nth-of-type(2):before {
        content: "Zone : ";
        font-weight: bold;
    }    

    /* locationTable Aisle */
    #locationTable td:nth-of-type(3):before {
        content: 'Allée : ';
        font-weight: bold;
    }    

    /* locationTable Col */
    #locationTable td:nth-of-type(4):before {
        content: 'Colonne : ';
        font-weight: bold;
    } 

    /* locationTable Level */
    #locationTable td:nth-of-type(5):before {
        content: 'Niveau : ';
        font-weight: bold;
    }    

    /* locationTable Action */
    #locationTable td:nth-of-type(6):before {
        content: 'Action : ';
        font-weight: bold;
    } 
}
/* end RESPONSIVE */
