/* common */
@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-display: auto;
    font-style: normal;
    src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2") format("woff2");
}
/* END common */

/* forms */
input {
    margin: 10px;
}

.articles-action form {
    text-align: center;
}
/* END forms */

/* tables */
table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}
  
table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
}
/* END tables */

/* buttons */
.button {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    background-color: #3399cc;
    border-bottom: 2px solid #006699;
    padding: 10px;
    color: white;
}

.button:hover {
    background-color: #006699;
    border-bottom: 2px solid #003366;
}
/* END buttons */

.error {
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.2);
    border-left: 6px solid red;
    text-align: center;
    color: red;
}

.valid {
    padding: 10px;
    background-color: rgba(0, 255, 0, 0.2);
    border-left: 6px solid green;
    text-align: center;
    color: green;
}

h1 {
    text-align: center;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: white url(../images/industrial-hall-1630742_1280.jpg) no-repeat center center fixed;
    background-size: cover;
}

main {
    width: 75%;
    margin: 20px auto;
    padding: 20px;
    background-color: #92a5b3;
}

header {
    height: auto;
    background-color: #15476a;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1 { 
    margin: 0;
    padding: 10px;
}

header ul {
    padding: 0;
    text-align: center;
}

header li {
    display: inline-block;
    margin: 0 20px;
}

header nav {
    background-color: #92a5b3;
}

#article-edit {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#article-edit li {
    display: inline-block;
    margin: 10px;
}

#articles-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.articles-action {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
