{% extends "admin.twig.html" %}
{% block title %}Gestion des Emplacements{% endblock %}

{% block body %}
    <section>
        <h1>Gestion des <span class="white">Emplacements</span></h1>
        {% if log == "deleteOk" %}
           <p class="valid">L'emplacement a bien été supprimé.</p>
        {% elseif log == "deleteFail" %}
           <p class="error">La suppression de l'emplacement a échoué.</p>
        {% elseif log == "errorSingle" %}
            <p class="error">L'emplacement n'a pas pu être créé.</p>
        {% elseif log == "okSingle" %}
            <p class="valid">L'emplacement a bien été créé.</p>
        {% elseif log == "noneInterval" %}
            <p class="error">Les emplacements n'ont pas pu été créés.</p>
        {% elseif log == "fullInterval" %}
            <p class="valid">Les emplacements ont bien pu été créés.</p>
        {% elseif log == "partialInterval" %}
            <p class="warning">Certains emplacements n'ont pas pu été créés.</p>
        {% endif %}
        <h2>Créer un emplacement unique</h2>
        <p id="locationSingleFeedback" class="error"></p>
        <form method="POST" id="locationSingleForm" action="/location/createsingle">
            <label>Zone
                <input type="text" name="area" id="area" required>
            </label>
            <label>Allée
                <input type="text" name="aisle" id="aisle" required>
            </label>
            <label>Colonne
                <input type="text" name="col" id="col" required>
            </label>
            <label>Niveau
                <input type="text" name="level" id="level" required>
            </label>
            <input type="submit" value="Créer l'emplacement" id="locationSingleSubmit">
            <input type="hidden" name="token" id="token" value="{{ token }}">
        </form>
        <h2>Créer un intervalle d'emplacements</h2>
        <p id="locationIntervalFeedback" class="error"></p>
        <form method="POST" id="locationIntervalForm" action="/location/createinterval">
            <label>Zone
                <input type="text" name="area" id="area" required>
            </label>
            <fieldset>
                <legend>Allées</legend>
                <label>Début
                    <input type="text" name="fromAisle" id="fromAisle" required>
                </label>
                <label>Fin
                    <input type="text" name="toAisle" id="toAisle" required>
                </label>
            </fieldset>
            <fieldset>
                <legend>Colonnes</legend>
                <label>Début
                    <input type="text" name="fromCol" id="fromCol" required>
                </label>
                <label>Fin
                    <input type="text" name="toCol" id="toCol" required>
                </label>
            </fieldset>
            <fieldset>
                <legend>Niveaux</legend>
                <label>Début
                    <input type="text" name="fromLevel" id="fromLevel" required>
                </label>
                <label>Fin
                    <input type="text" name="toLevel" id="toLevel" required>
                </label>
            </fieldset>
            <input type="submit" value="Créer les emplacements" id="locationIntervalSubmit">
            <input type="hidden" name="token" id="token" value="{{ token }}">
        </form>
        <h2>Importer un fichier</h2>
        <p>Télécharger un <a href="/csv/importLocations.csv">fichier Emplacements</a>.</p>
        <form method="POST" enctype="multipart/form-data" action="/location/import">
            <input type="file" name="locationFile" id="locationFile" class="button icon file-icon" accept=".csv" required>
            <input type="submit" name="Importer">
            <input type="hidden" name="token" id="token" value="{{ token }}">
        </form>
        
        <h2 id="list">Liste</h2>
        <p class="error" id="locationSearchFeedback"></p>
        <form method="POST" id="searchLocationForm" action="/location/index">
            <label>Rechercher un emplacement
                <input type="text" name="queryString" id="queryString" value="{{ queryString }}">
            </label>
            <input type="submit" value="Rechercher">
            <input type="hidden" name="token" id="token" value="{{ token }}">
        </form>

        {% if entities == null %}
            <p class="error">Aucun emplacement à afficher.</p>
        {% else %}
            <table>
                <thead>
                    <th>ID</th>
                    <th>Zone</th>
                    <th>Allée</th>
                    <th>Colonne</th>
                    <th>Niveau</th>
                    <th>Action</th>
                </thead>

                <tbody>
                    {% for location in entities %}
                        <tr>
                            <td>{{location.id}}</td>
                            <td>{{location.area}}</td>
                            <td>{{location.aisle}}</td>
                            <td>{{location.col}}</td>
                            <td>{{location.level}}</td>
                            <td><a href="/location/delete/{{ location.id }}" class="button icon delete-icon" onclick="return confirm('Etes-vous sûr(e) de vouloir supprimer cet article ?');">Supprimer</a></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="6">
                            Page(s) 
                            {% if previousPage is defined %}
                                <a href="/location/index/{{previousPage}}">{{previousPage}}</a>
                            {% endif %}
                            {% if currentPage is defined %}
                                {{ currentPage }}
                            {% endif %}
                            {% if nextPage is defined %}
                                <a href="/location/index/{{nextPage}}"> {{nextPage}}</a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
    </section>
{% endblock %}

{% block js %}
    <script src="/js/locationForms.js"></script>
{% endblock %}
