{% extends "base.twig.html" %}
{% block title %}Liste des Mouvements{% endblock %}

{% block body %}
    <h1>Gestion des <span class="white">Réceptions</span></h1>
    {% if log == "tokenError" %}
        <p class="error">Un problème technique est survenu.</p>
    {% elseif log == "moveOK" %}
        <p class="valid">La réception a bien été créée.</p>
    {% elseif log == "moveNOK" %}
        <p class="error">La réception n'a pas pu été créée.</p>      
    {% elseif log == "deleteNOK" %}
        <p class="error">La réception n'a pas pu été supprimée.</p>   
    {% endif %}
    <section>
        <p>Saisir une <a href="/incoming/new">Réception Fournisseur</a></p>
        <h2>Rechercher une réception</h2>
        <p class="error" id="incomingSearchFeedback"></p>
        <form method="POST" id="searchIncomingForm" action="/incoming/index">
            <label>Référence
                <input type="text" name="queryString" id="queryString" value="{{ queryString }}">
            </label>
            <input type="submit" value="Rechercher">
            <input type="hidden" name="token0" id="token0" value="{{ token0 }}">
        </form>
    </section>    
    <section>
        <h2 id="list">Liste des Réceptions</h2>
            {% if entities == null %}
                <p class="error">Aucune réception à afficher.</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Référence</th>
                            <th>Date</th>
                            <th>Statut</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for movement in entities %}
                            <tr>
                                <td>{{ movement.id }}</td>
                                <td>{{ movement.reference }}</td>
                                <td>{{ movement.createdAt|date("m/d/Y") }}</td>
                                <td>
                                {% if movement.status == "received" %}
                                    Réceptionnée
                                {% else %}
                                    En attente
                                {% endif %}
                                </td>
                                <td>
                                    <ul class="article-edit">
                                        <li><a href="/incoming/show/{{ movement.id }}" class="button icon edit-icon">Editer</a></li>
                                        {% if movement.status == "pending" %}
                                            <li><a href="/incoming/delete/{{ movement.id }}" class="button icon delete-icon" onclick="return confirm('Etes-vous sûr(e) de vouloir supprimer ce mouvement ?');">Supprimer</a></li>
                                        {% endif %}
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        {% if currentPage is defined %}
                            <tr>
                                <td colspan="5">
                                    Page(s) :
                                    {% if previousPage is defined %} 
                                        <a href="/incoming/index/{{ previousPage }}">{{ previousPage }}</a>
                                    {% endif %}
                                    {{ currentPage }} 
                                    {% if nextPage is defined %} 
                                        <a href="/incoming/index/{{ nextPage }}">{{ nextPage }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
        {% endif %}
    </section>
{% endblock %}

{% block js %}
    <script src="/js/searchIncomingForm.js"></script>
{% endblock %}
