{% extends "base.twig.html" %}
{% block title %}Réception Fournisseur{% endblock %}

{% block body %}
    <section>
        <h1>Saisie d'une <span class="white">Réception Fournisseur</span></h1>
        <p class="error" id="feedbackIncomingForm"></p>
        <form method="post" id="incomingForm" action="/incoming/confirm">
            <fieldset>
                <legend>Entête Réception</legend>
                <label>Fournisseur
                    <input type="text" name="provider" id="provider" autocomplete="off" required>
                </label>
                <label>Référence
                    <input type="text" name="reference" id="reference" autocomplete="off" required>
                </label>
                <label>Statut
                    <select name="status" id="status">
                        <option value="pending">En attente</option>
                        <option value="received">Réceptionnée</option>
                    </select>
                </label>
            </fieldset>
            <fieldset>
                <legend>Produits</legend>
                <div id="orderRows">
                </div>
            </fieldset>
            <p><a href="#" class="button icon add-icon" id="addRowButton">Ajouter une ligne</a></p>
            <input type="hidden" name="token0" id="token0" value="{{ token0 }}">
            <input type="submit" id="incomingSubmit" value="Enregister">
        </form>
    </section>    
{% endblock %}

{% block js %}
    <script src="/js/incomingForm.js"></script>
{% endblock %}
