{% extends "base.twig.html" %}
{% block title %}Expédition Client{% endblock %}

{% block body %}
    <section>
        <h1>Saisie d'une <span class="white">Expédition Client</span></h1>
        <p class="error" id="feedbackOutgoingForm"></p>
        <form method="post" id="outgoingForm" action="/outgoing/confirm">
            <fieldset>
                <legend>Entête Expédition</legend>
                <label for="reference">Référence
                    <input type="text" name="reference" id="reference" autocomplete="off" value="{{ outgoing.reference }}" required{% if outgoing.status == "shipped" %} disabled{% endif %}>
                </label>
                <label for="recipient">Destinataire
                    <input type="text" name="recipient" id="recipient" autocomplete="off" value="{{ outgoing.recipient }}" required{% if outgoing.status == "shipped" %} disabled{% endif %}>
                </label>
                <label for="address">Adresse
                    <input type="text" name="address" id="address" autocomplete="off" value="{{ outgoing.address }}" required{% if outgoing.status == "shipped" %} disabled{% endif %}>
                </label>
                <label for="zipcode">Code Postal
                    <input type="text" name="zipcode" id="zipcode" autocomplete="off" value="{{ outgoing.zipcode }}" required{% if outgoing.status == "shipped" %} disabled{% endif %}>
                </label>
                <label for="city">Ville
                    <input type="text" name="city" id="city" autocomplete="off" value="{{ outgoing.city }}" required{% if outgoing.status == "shipped" %} disabled{% endif %}>
                </label>
                <label for="country">Pays
                    <input type="text" name="country" id="country" autocomplete="off" value="{{ outgoing.country }}" required{% if outgoing.status == "shipped" %} disabled{% endif %}>
                </label>
                <label for="status">Statut
                    <select name="status" id="status" {% if outgoing.status == "shipped" %} disabled{% endif %}>
                        <option value="pending"{% if outgoing.status == "pending" %} selected{% endif %}>En attente</option>
                        <option value="shipped"{% if outgoing.status == "shipped" %} selected{% endif %}>Expédiée</option>
                    </select>
                </label>
            </fieldset>
            <fieldset>
                <legend>Produits</legend>
                <div id="orderRows">
                    {% for row in outgoing.rows %}
                        <div class="orderRow">
                            <div class="orderField">
                                <label for="article{{ loop.index }}">Article</label>
                                <input type="text" name="article{{ loop.index }}" id="article{{ loop.index }}" value="{{ row.article.code }}" autocomplete="off" required{% if outgoing.status == "shipped" %} disabled{% endif %}>
                                <ul class="dynamicList"></ul>
                            </div>
                            <div class="orderField">
                                <label for="quantity{{ loop.index }}">Quantité</label>
                                <input type="number" name="quantity{{ loop.index }}" id="quantity{{ loop.index }}" value="{{ row.qty }}" required{% if outgoing.status == "shipped" %} disabled{% endif %}>                        
                            </div>
                            <div class="orderField">
                                <label for="location{{ loop.index }}">Emplacement</label>
                                <input type="text" name="location{{ loop.index }}" id="location{{ loop.index }}" value="{{ row.location.concatenate }}" autocomplete="off" required{% if outgoing.status == "shipped" %} disabled{% endif %}>
                                <ul class="dynamicList"></ul>                            
                            </div>
                            {% if outgoing.status != "shipped" %}
                                <div class="orderField">
                                    <a href="#" class="button icon delete-icon">Effacer</a>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </fieldset>
            {% if outgoing.status != "shipped" %}
                <p><a href="#" class="button icon add-icon" id="addRowButton">Ajouter une ligne</a></p>
            {% endif %}
            <input type="hidden" name="token0" id="token0" value="{{ token0 }}">
            <input type="hidden" name="currentId" id="currentId" value="{{ outgoing.id }}">
            <input type="submit" id="outgoingSubmit" value="Enregister"{% if outgoing.status == "shipped" %} disabled{% endif %}>
        </form>
    </section>    
{% endblock %}

{% block js %}
    <script src="/js/outgoingForm.js"></script>
{% endblock %}
