{% extends "base.twig.html" %}
{% block title %}Liste des Mouvements de sortie{% endblock %}

{% block body %}
    <h1>Gestion des <span class="white">Expéditions</span></h1>
    {% if log == "unfound" %}
        <p class="error">L'expédition n'existe pas.</p>
    {% elseif log == "tokenError" %}
        <p class="error">Un problème technique est survenu.</p>
    {% elseif log == "moveOK" %}
        <p class="valid">L'expédition a bien été mise à jour.</p>
    {% elseif log == "moveNOK" %}
        <p class="error">L'expédition n'a pas pu été créée.</p>    
    {% elseif log == "deleteOK" %}
        <p class="error">L'expédition a bien été supprimée.</p>     
    {% elseif log == "deleteNOK" %}
        <p class="error">L'expédiotion n'a pas pu été supprimée.</p>     
    {% endif %}
    <section>
        <p>Saisir une <a href="/outgoing/edit">Expédition Client</a></p>
        <h2>Rechercher une expédition</h2>
        <p class="error" id="outgoingSearchFeedback"></p>
        <form method="POST" id="searchOutgoingForm" action="/outgoing/index">
            <label for="queryString">Référence
                <input type="text" name="queryString" id="queryString" value="{{ queryString }}">
            </label>
            <input type="submit" value="Rechercher">
            <input type="hidden" name="token0" id="token0" value="{{ token0 }}">
        </form>
    </section>    
    <section>
        <h2 id="list">Liste des Expéditions</h2>
            {% if entities == null %}
                <p class="error">Aucune expédition à afficher.</p>
            {% else %}
                <table id="outgoingTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Référence</th>
                            <th>Date</th>
                            <th>Statut</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for movement in entities %}
                            <tr>
                                <td>{{ movement.id }}</td>
                                <td>{{ movement.reference }}</td>
                                <td>{{ movement.createdAt|date("m/d/Y") }}</td>
                                <td>
                                {% if movement.status == "shipped" %}
                                    Expédiée
                                {% else %}
                                    En attente
                                {% endif %}
                                </td>
                                <td>
                                    <ul class="article-edit">
                                        <li>
                                            {% if movement.status != "shipped" %}
                                                <a href="/outgoing/edit/{{ movement.id }}" class="button icon edit-icon">Editer</a>
                                            {% else %}
                                                <a href="/outgoing/edit/{{ movement.id }}" class="button icon view-icon">Voir</a>
                                            {% endif %}
                                        </li>
                                        {% if movement.status == "pending" %}
                                            <li><a href="/outgoing/delete/{{ movement.id }}" class="button icon delete-icon" onclick="return confirm('Etes-vous sûr(e) de vouloir supprimer ce mouvement ?');">Supprimer</a></li>
                                        {% endif %}
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        {% if currentPage is defined %}
                            <tr>
                                <td colspan="5">
                                    Page(s) :
                                    {% if previousPage is defined %} 
                                        <a href="/outgoing/index/{{ previousPage }}">{{ previousPage }}</a>
                                    {% endif %}
                                    {{ currentPage }} 
                                    {% if nextPage is defined %} 
                                        <a href="/outgoing/index/{{ nextPage }}">{{ nextPage }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
        {% endif %}
    </section>
{% endblock %}

{% block js %}
    <script src="/js/searchOutgoingForm.js"></script>
{% endblock %}
