<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,900&amp;display=swap" rel="stylesheet">
        <link ref="shortcut icon" href="favicon.ico">
        <title>ManaStock - {% block title %}{% endblock %}</title>
    </head>

    <body>
        <header>
            <p id="site-title"><span class="blue">Mana</span><span class="white">Stock</span></p>
            <nav>
                {% if role is defined %}
                    <ul>
                        <li><a href="/article/index" class="icon article-icon">Articles</a></li>
                        <li><a href="/stock/index" class="icon stock-icon">Stocks</a></li>
                        <li><a href="/incoming/index" class="icon movement-icon">Réceptions</a></li>
                        <li><a href="/outgoing/index" class="icon movement-icon">Préparations</a></li>
                        {% if role == 'admin' or role == 'superadmin' %}
                            <li><a href="/user/index" class="icon admin-icon">Admin</a></li>
                        {% endif %}
                        <li><a href="/logout" class="icon logout-icon">Déconnexion</a><span id="loggedUsername">{{ username }}</span></li>
                    </ul>
                {% else %}
                    <p class="error">Veuillez vous connecter pour accéder au site</p>
                {% endif %}
            </nav>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {% block js %}{% endblock %}
    </body>
</html>