<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/css/style.css" />
        <title>WMS - {% block title %}{% endblock %}</title>
    </head>

    <body>
        <header>
            <h1>Logiciel de Gestion de Stock</h1>
            <nav>
                <ul>
                    <li><a href="/article/showlist">Articles</a></li>
                    <li>Mouvements</li>
                    <li>Emplacements</li>
                    <li>Admin</li>
                </ul>
            </nav>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <script src="/js/script.js"></script>
    </body>
</html>