{% extends "base.twig.html" %}
{% block title %}Liste des articles{% endblock %}

{% block body %}
    {% if log == 'noneInterval' %}
        <p class="error">Le fichier n'a pas été importé.</p>
    {% elseif log == 'fullInterval' %}
        <p class='valid'>Le fichier a bien été importé.</p>
    {% elseif log == 'partialInterval' %}
        <p class='warning'>Le fichier n'a été que partiellement importé.</p>
    {% elseif log == 'articleDeleteOK' %}
        <p class='valid'>L'article a bien été supprimé.</p>
    {% elseif log == 'articleDeleteError' %}
        <p class='error'>L'article ne peut être supprimé.</p>
    {% elseif log == 'tech' %}
        <p class='error'>Une erreur technique est survenue.</p>
    {% endif %}
    <h1>Gestion des <span class="white">Articles</span></h1>
    <section>
        <h2>Créer un Article</h2>
        <h3>Saisir un article unique</h3>
            <p>        
                <a href="/article/new" class="button icon new-icon">Ajouter un Article</a>
            </p>
        <h3>Importer un <a href="/csv/importArticles.csv">fichier Articles</a></h3>
        <form method="POST" enctype="multipart/form-data" action="/article/import">
            <label for="articleFile">Sélectionner un fichier
                <input type="file" name="articleFile" id="articleFile" class="button icon file-icon" accept=".csv" required>
            </label>
            <input type="submit" name="Importer">
            <input type="hidden" name="token0" id="token0" value="{{ token0 }}">
        </form>
        <h3>Rechercher un Article</h3>
        <p class="error" id="articleSearchFeedback"></p>
        <form method="POST" id="searchArticleForm" action="/article/index">
            <label for="queryString">Rechercher
                <input type="text" name="queryString" id="queryString" value="{{ queryString }}">
            </label>
            <input type="submit" value="Rechercher">
            <input type="hidden" name="token1" id="token1" value="{{ token1 }}">
        </form>
    </section>
    <section>
        <h2 id="list">Liste des Articles</h2>
            {% if entities == null %}
                <p class="error">Aucun article à afficher.</p>
            {% else %}
                <table id="articleTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Code</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for article in entities %}
                            <tr>
                                <td>{{ article.id }}</td>
                                <td>{{ article.code }}</td>
                                <td>
                                    <ul class="article-edit">
                                        <li><a href="/article/show/{{ article.id }}" class="button icon edit-icon">Editer</a></li>
                                        <li><a href="/article/history/{{ article.id }}" class="button icon history-icon">Historique</a></li>
                                        <li><a href="/article/delete/{{ article.id }}" class="button icon delete-icon" onclick="return confirm('Etes-vous sûr(e) de vouloir supprimer cet article ?');">Supprimer</a></li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        {% if currentPage is defined %}
                            <tr>
                                <td colspan="3">
                                    Page(s) :
                                    {% if previousPage is defined %} 
                                        <a href="/article/index/{{ previousPage }}">{{ previousPage }}</a>
                                    {% endif %}
                                    {{ currentPage }} 
                                    {% if nextPage is defined %} 
                                        <a href="/article/index/{{ nextPage }}">{{ nextPage }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
        {% endif %}
    </section>
{% endblock %}

{% block js %}
    <script src="/js/searchArticleForm.js"></script>
{% endblock %}
