{% extends "base.twig.html" %}
{% block title %}Liste des articles{% endblock %}

{% block body %}
    {% if param is defined and param == 0 %}
    <p class="error">Le fichier n'a pas été importé.</p>
    {% endif %}
    {% if param == 1 %}
    <p class="valid">Le fichier a bien été importé.</p>
    {% endif %}
    <h1>Gestion des articles</h1>
    <div id="articles-actions">
        <div class="articles-action">
            <h2>Créer un nouvel Article</h2>
            <a href="#" class="button">Ajouter un Article</a>
        </div>
        <div class="articles-action">
            <h2>Importer un <a href="csv/importArticles.csv">fichier Articles</a></h2>
            <form method="POST" enctype="multipart/form-data" action="index.php?controller=article&action=import">
                <input type="file" name="articleFile" id="articleFile" class="button" accept=".csv">
                <input type="submit" name="Importer">
                <input type="hidden" value="{{ token }}">
            </form>
        </div>
        <div class="articles-action">  
            <h2>Rechercher un Article</h2>
            <input type="text" name="articleFind" id="articleFind">
            <input type="submit" name="Rechercher">
        </div>       
    </div>
    <h2>Liste des Articles</h02>
    {% if articles == null %}
    <p>Aucun article à afficher.</p>
    {% else %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Description</th>
                <th>Poids</th>
                <th>Largeur</th>
                <th>Longueur</th>
                <th>Hauteur</th>
                <th>Code EAN</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.code }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.weight }}</td>
                <td>{{ article.width }}</td>
                <td>{{ article.length }}</td>
                <td>{{ article.height }}</td>
                <td>{{ article.barcode }}</td>
                <td>
                    <ul id="article-edit">
                        <li><a href="index.php?controller=article&action=show&param={{ article.id }}" class="button">Editer</a></li>
                        <li><a href="index.php?controller=article&action=delete&param={{ article.id }}" class="button" onclick="return confirm('Etes-vous sûr(e) de vouloir supprimer cet article ?');">Supprimer</a></li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
