{% extends "base.twig.html" %}
{% block title %}Liste des articles{% endblock %}

{% block body %}
    <h1>Gestion des articles</h1>
    <p>
        <a href="#" class="button">Ajouter un Article</a>
    </p>
    <h2>Liste des Articles</h2>
    {% if articles == null %}
    <p>Aucun article à afficher.</p>
    {% else %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Description</th>
                <th>Poids</th>
                <th>Largeur</th>
                <th>Longueur</th>
                <th>Hauteur</th>
                <th>Code EAN</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.code }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.weight }}</td>
                <td>{{ article.width }}</td>
                <td>{{ article.length }}</td>
                <td>{{ article.height }}</td>
                <td>{{ article.barcode }}</td>
                <td>
                    <ul id="article-edit">
                        <li><a href="#" class="button">Editer</a></li>
                        <li><a href="#" class="button">Supprimer</a></li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
