{% extends "base.twig.html" %}
{% block title %}Liste des articles{% endblock %}

{% block body %}
    {% if log is defined and log == 0 %}
        <p class="error">Le fichier n'a pas été importé. il contient des erreurs.</p>
    {% elseif log == 1 %}
        <p class="valid">Le fichier a bien été importé.</p>
    {% elseif log == 2 %}
        <p class="error">L'article ne peut être supprimé.</p>
    {% endif %}
    <h1>Gestion des <span class="white">Articles</span></h1>
    <section id="articles-actions">
        <div class="articles-action">
            <h3>Créer un Article</h3>
            <a href="/article/new" class="button icon new-icon">Ajouter un Article</a>
        </div>
        <div class="articles-action">
            <h3>Importer un <a href="/csv/importArticles.csv">fichier Articles</a></h3>
            <form method="POST" enctype="multipart/form-data" action="/article/import">
                <input type="file" name="articleFile" id="articleFile" class="button icon file-icon" accept=".csv" required>
                <input type="submit" name="Importer">
                <input type="hidden" name="token" id="token" value="{{ token }}">
            </form>
        </div>
        <div class="articles-action">  
            <h3>Rechercher un Article</h3>
            <p class="error" id="articleSearchFeedback"></p>
            <form method="POST" id="searchArticleForm" action="/article/showlist">
                <input type="text" name="queryString" id="queryString" value="{{ queryString }}">
                <input type="submit" value="Rechercher">
                <input type="hidden" name="token" id="token" value="{{ token }}">
            </form>
        </div>       
    </section>
    <section>
        <h2>Liste des Articles</h2>
            {% if articles == null %}
                <p class="error">Aucun article à afficher.</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Code</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for article in articles %}
                            <tr>
                                <td>{{ article.id }}</td>
                                <td>{{ article.code }}</td>
                                <td>
                                    <ul id="article-edit">
                                        <li><a href="/article/show/{{ article.id }}" class="button icon edit-icon">Editer</a></li>
                                        <li><a href="/article/delete/{{ article.id }}" class="button icon delete-icon" onclick="return confirm('Etes-vous sûr(e) de vouloir supprimer cet article ?');">Supprimer</a></li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        {% if currentPage is defined %}
                            <tr>
                                <td colspan="3">
                                    Pages :
                                    {% if previousPage is defined %} 
                                        <a href="/article/showlist/{{ previousPage }}">{{ previousPage }}</a>
                                    {% endif %}
                                    {{ currentPage }} 
                                    {% if nextPage is defined %} 
                                        <a href="/article/showlist/{{ nextPage }}">{{ nextPage }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
        {% endif %}
    </section>
{% endblock %}
