{% extends "base.twig.html" %}
{% block title %}Création d'un article{% endblock %}

{% block body %}
    <section>
        {% if log is defined and log == 0 %}
            <p class="error">
                La création d'article a échoué.
            </p>
        {% elseif log == 1 %}
            <p class="error">
                Le code article existe déjà.
            </p>
        {% endif %}
        <p id="articleFeedback" class="error"></p>
        <h1>Création d'un <span class="white">Article</span></h1>
        <form method="POST" action="/article/record" id="articleForm">
            <label for="code">Code
                <input type="text" id="code" name="code" required>
            </label>
            <label for="description">Description
                <input type="text" id="description" name="description">
            </label>
            <label for="weight">Poids
                <input type="number" id="weight" name="weight" value="0">
            </label>
            <label for="width">Largeur
                <input type="number" id="width" name="width" value="0">
            </label>
            <label for="height">Hauteur
                <input type="number" id="height" name="height" value="0">
            </label>
            <label for="length">Longueur
                <input type="number" id="length" name="length" value="0">
            </label>
            <label for="barcode">Code à Barre
                <input type="text" id="barcode" name="barcode">
            </label>
            <input type="submit" value="Créer l'article" id="articleSubmit">
            <input type="hidden" id="token0" name="token0" value = {{ token0 }}>
        </form>
    </section>
{% endblock %}

{% block js %}
    <script src="/js/articleForm.js"></script>
{% endblock %}
